.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.city-search {
  margin: 20px;
  font-size: 2rem;
  border: 5px solid #159;
  border-radius: 1.5rem;
  padding: 10px 15px;
  width: 100%;
  text-align: center;
}

.deleteBtn {
  position: absolute;
  display: block;
  color: red;
  right: 10%;
  cursor: pointer;
  font-size: 3rem;
}

@media screen and (max-width: 952px) {
  .city-search {
    font-size: 1rem;
  }
  .deleteBtn {
    right: 15%;
    font-size: 1rem;
  }
}
