.header {
  background-color: #234;
  color: #def;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 10px;
  flex-direction: column;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.status {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}
.location {
  font-size: 2rem;
  text-align: center;
  font-weight: none;
}

@media screen and (max-width: 952px) {
  .status {
    font-size: 1.5rem;
  }
  .location {
    font-size: 1rem;
  }
}
