*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  background-image: url("./clear.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
